body{
    margin:0px;
    font-family: 'ClashDisplay-Regular';
    --black:color:black;
}

@font-face {
    font-family:'ClashDisplay-Regular' ;
    src: url(font/Fonts/ClashDisplay-Regular.otf)format(opentype);
}
@font-face{
    font-family: 'ClashDisplay-Medium';
    src:url(font/Fonts/ClashDisplay-Medium.otf)format(opentype);
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content:space-between;
    padding: 40px;
}
.firstpart{
    background-color: black;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 1130px;
    width: 100%;
}
.gradient{
    background-image: url(images/Design\ Abstract\ Gradient.svg);
    height: 660px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.img{
    padding-right: 120px;
}
.tag1{
    background-color:rgba(255,255,255,0.1);
    border-radius: 40px;
    height: 52px;
    width: 462px;
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.tag2{
    background-color:rgba(255,255,255,0.1);
    border-radius: 40px;  
}
.atag{
    height: 52px;
    width:158px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* end of nav bar */


/* start of container */

.container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:1000px;
    width: 100%;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    /* width:80%; */
    height: 343px;
    margin: auto;
}
.icon1{
    background-color:#654516;
    border-radius: 40px;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 146px;
    height: 52px;
}
.text1{
    color: white;
    font-family: 'ClashDisplay-Medium';
    font-size:54px;
    height: 160px;
    padding: 20px;
}
#border{
    border:2px solid #ffd596;
    padding: 5px;
}
.desc{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.buttons{
    display: flex;
    width:435px;
    justify-content: space-between;
}
.button1 {
    background-color: white;
    height: 57px;
    width: 236px;
    border-radius: 40px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 0;

}
.button1 a{
    z-index: 1;
    color: black;
}
.button2 {
    background-color:#2f2c27;
    height: 57px;
    width: 183px;
    border-radius: 40px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 0;

}
.button2 a{
    z-index: 1;
    color:white;
}
.pc1{
    width:100%;
    margin: auto;
}


/* end of first part */



/* start of second part */

.secondpart{
    height: 700px;
    width:100%;
    display:flex ;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;

}
.grp1{
    height:auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    flex-wrap:wrap;
}

.ele1{
    background-color:#f7f7f7 ;
    width: 261px;
    height: 238px;
    border-radius: 10px;
}
.inner{
    padding: 20px;
}
.title{
    font-family: 'ClashDisplay-Medium';
    padding: 20px 0px;
    font-size: 18px;
}
.description{
    font-size:14px;
    text-align: justify;
}
.icon2{
    width: 233px;
    margin: auto;
    height: 57px;
    background-color: #f7f7f7;
    border-radius: 40px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon2 a{
    color: black;
}
.work{
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'ClashDisplay-Medium';
    font-size: 34px;
}

/* end of second part */


/* start of third part */


.box3{
    background-color: black;
    height:1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.icon4{
    background-color:#313131 ;
    border-radius: 40px;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 217px;
    height: 56px;
    margin: auto;
}
.text2{
    font-family: 'ClashDisplay-Medium';
    font-size: 34px;
    color: white;
    width: 361px;
    height: 80px;
    margin: auto;
}


.grp2{
    display: flex;
    justify-content: space-around;
}

.inner1{
    background-color: #313131;
    border-radius: 10px;
    width: 40%;
    height: 511px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title1{
    padding-left:10px;
    font-family: 'ClashDisplay-Regular';
    font-size: 30px;
    color: white;
}
.price{
    padding-left:10px;
    font-family: 'ClashDisplay-Regular';
    font-size:16px;
    color: white;
}
.pcimage1 img{     
     width: 100%;   
}
.pcimage1{
    display: flex;           
    justify-content: center; 
}



/* end of third part*/


/* Start of fourth part or box 4 */

.div1{
    width: 40%;
    margin: auto;
    height: 57px;
    background-color: #f7f7f7;
    border-radius: 40px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text3{
    background-color: black ;
    border-radius: 40px;
    color: white;
    padding: 10px;
    width: 45%;
    text-align: center;
}
.pc6{
    background-color: #f7f7f7;
    border-radius: 20px;
    width: 47%;
}
label{
    display: block;
    font-family:'ClashDisplay-Regular';
    color:rgba(107, 120, 136, 1);
}
select{
    width: 500px;
    padding: 5px;
    font-family:'ClashDisplay-Regular';

}

.components{
    background-color: #f7f7f7;
    border-radius: 20px;
    width: 47%;
    

}
.grp3{
    display: flex;
    justify-content: space-around;
}
.grp4{
    display: flex;
    flex-direction: column;
    height: 684px;
    justify-content: space-around;
    align-items:center;
}
.box4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1000px;
}



/* end of fourth part */


/* start of testimonal */

.mgpic{
    display: flex;
    justify-content: center;
}
.mgcon{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align:start;
    color: white;
    background-color: black;
    border-radius:10px;
    padding: 50PX;

}
.testmo{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: #f7f7f7;
}
.combine{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2000px;
}

/* end of testimonal */

/* start of footer */
.footer{
    background-color: black;
}
.input input{
    padding: 10px;
    width: 200px;
}
.type{
    display: flex;
    justify-content: space-between
    
}
.total{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.in{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 130px;
}
.in h4,ins{
    color: white;
    font-size: 14px;
}
.subscribe{
    padding: 10px;
    color: white;
    border: 1px solid white;
    display: inline-block;
}
.out{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
hr{
    opacity: 0.6;
}
.end{
    display: flex;
    justify-content: flex-end;    

}
.end a{
    padding: 15px;
}

/* end of footer */



@media screen and (max-width:820px) {
    .tag1,.tag2{
        display:none;
    }
    .menu{
        display: inline;
        color: white;
        padding: 5px;
        background-color:rgba(62,106,225,0.3);
    }
}